# raw datasets
data/
raw/
household_power_consumption.txt
MENSQ_75_previous-1950-2024.csv

# model checkpoints
*.pt
*.pth
*.ckpt

# Python
__pycache__/
*.pyc
.venv/
venv/

# system files
.DS_Store
.ipynb_checkpoints/
